extends ./templates/template

block content
    main.container.mt-5
        .row
            .col-md-5
                img(src="/img/nosotros.jpg", alt="Paris" class="img-fluid")
            .col-md-7
                h1 #{page}
                blockquote Lorem ipsum dolor sit amet consectetur adipisicing elit. Iusto odio sit saepe fuga ratione eaque magni dolor  cum consectetur, nihil dolorem cumque excepturi illum commodi neque ad necessitatibus. Voluptatum, facilis!
                p Lorem ipsum dolor, sit amet consectetur adipisicing elit. Atque dolores neque mollitia ea, repellat dolorum, iste impedit accusantium minima reprehenderit ipsa facere perspiciatis iusto incidunt aliquid deserunt ipsam quos ratione.Deserunt cumque numquam beatae ea alias, pariatur aspernatur enim optio corporis odio minus fugit quos ipsam cupiditate veniam molestiae necessitatibus.
                p Lorem ipsum dolor sit amet consectetur adipisicing elit. Nam ratione, recusandae perspiciatis corporis nisi, quibusdam ipsa ipsum aut quidem incidunt in facilis, eum minus error quas praesentium delectus quis veniam.Sit dolorem odit officiis ullam perferendis, quas optio consequuntur saepe nisi, numquam et repellat! Similique, deleniti.
        .listado-iconos
            .container.mt-5.py-5.text-center
                .row
                    .col-md-4
                        img(src="/img/icono_seguridad.svg", class="img-fluid mb-4", alt="Seguridad icono")
                        h2.mb-4 Seguridad
                        p Lorem ipsum dolor sit amet consectetur adipisicing elit. Esse omnis repudiandae exercitationem consequuntur itaque explicabo laboriosam nemo dolores illum similique.
                    .col-md-4
                        img(src="/img/icono_destinos.svg", class="img-fluid mb-4", alt="Seguridad icono")
                        h2.mb-4 Destinos
                        p Lorem ipsum dolor sit amet consectetur adipisicing elit. Esse omnis repudiandae exercitationem consequuntur itaque explicabo laboriosam nemo dolores illum similique.
                    .col-md-4
                        img(src="/img/icono_precios.svg", class="img-fluid mb-4", alt="Seguridad icono")
                        h2.mb-4 Precios
                        p Lorem ipsum dolor sit amet consectetur adipisicing elit. Esse omnis repudiandae exercitationem consequuntur itaque explicabo laboriosam nemo dolores illum similique.
